{% extends "base_site.html" %}

{% block title %} Recognition Hand-digits Page {% endblock title %}

{% block content %}
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <h1>
      Recognition hand-digits
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Hand-digits</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Input hand-digits image</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <label for="file">File input</label>
                        <input type="file" id="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (left) -->
       <!-- right column -->
       <div class="col-md-4">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Output</h3>
          </div>
          <!-- /.box-header -->
            <div>
              <li>
                <label>Prediction:</label>
                <text>2</text>
              </li>
              <li>
                <label>Score:</label>
                <text>98%</text>
              </li>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
{% endblock content %}