{% extends "base_site.html" %}

{% block title %} Digits Page {% endblock title %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Recognition hand-digits
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Hand-digits</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Input hand-digits image</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <div class="box-body">
            <form method="post" action="{{ url_for('digits_blueprint.upload') }}" enctype="multipart/form-data">

                        <div style="float:left; "> 
                            <input type="file" id="file" name="data" autocomplete="off" required>
                        </div>
                       <div style="float:left; margin-bottom: 4px;">
                        <input type="submit" value="Submit" >
                       </div>
                       <div style="float:none">
                        {% if data %}<img style="width:80%; height:80%" src="{{url_for('digits_blueprint.static', filename=data.imagePath)}}">{% endif %}
                       </div>
            </form>
          </div>
            
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (left) -->
       <!-- right column -->
       <div class="col-md-4">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Output</h3>
          </div>
          {% if data %}
          <!-- /.box-header -->
            <div>
              <li>
                <label>Prediction: </label>
                <text>{{data.predict}}</text>
              </li>
              <li>
                <label>Score:</label>
                <text>{{data.score}}%</text>
              </li>
            </div>
            {% endif %}
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
{% endblock content %}